extends ../partials/head
block content
  input.display-none#projects(value=JSON.stringify(projects))
  .all-wrapper
    .header-wrapper
      a.header-logo
        svg.header-logo-icon(viewBox='0 0 3263 617' fill='var(--border-color)' xmlns='http://www.w3.org/2000/svg')
          path(d='M2457.32 118.678H2400.36C2392.14 118.678 2385.47 125.235 2385.47 133.324V602.166C2385.47 610.254 2392.14 616.812 2400.36 616.812H2457.32C2465.55 616.812 2472.22 610.254 2472.22 602.166V133.324C2472.22 125.235 2465.55 118.678 2457.32 118.678Z')
          path(d='M3247.81 118.678H3190.85C3182.63 118.678 3175.96 125.235 3175.96 133.324V602.166C3175.96 610.254 3182.63 616.812 3190.85 616.812H3247.81C3256.03 616.812 3262.7 610.254 3262.7 602.166V133.324C3262.7 125.235 3256.03 118.678 3247.81 118.678Z')
          path(d='M419.151 409.744V596.348C419.151 604.599 423.807 608.725 433.077 608.725H483.41C493.351 608.725 498.175 604.187 497.839 595.028V409.744H419.151ZM467.975 246.326C460.769 233.564 452.447 221.443 443.102 210.103C432.469 197.003 420.478 185.029 407.323 174.374C398.934 167.856 391.468 162.479 384.924 158.243C344.51 132.371 297.328 118.599 249.108 118.599C200.888 118.599 153.705 132.371 113.291 158.243C106.664 162.506 99.1976 167.883 90.8926 174.374C77.7246 185.029 65.7197 197.003 55.0719 210.103C45.7406 221.454 37.4189 233.573 30.1988 246.326C17.9087 268.747 9.18103 292.887 4.31893 317.906H85.2301C90.4384 300.064 98.54 283.165 109.222 267.862C114.402 260.841 120.005 254.132 126 247.77C132.76 240.842 140.083 234.468 147.895 228.709C177.246 207.713 212.606 196.403 248.898 196.403C285.19 196.403 320.55 207.713 349.901 228.709C357.706 234.46 365.016 240.835 371.754 247.77C377.759 254.123 383.362 260.833 388.532 267.862C399.214 283.165 407.316 300.064 412.524 317.906H493.309C488.577 292.928 480.036 268.795 467.975 246.326ZM0.292249 409.744V594.203C-0.0433079 603.362 4.78032 607.9 14.7212 607.9H65.0547C74.3245 607.9 78.9803 603.774 78.9803 595.523V409.744H0.292249Z')
          path(d='M1606.43 409.744C1601.8 425.226 1595.08 440.03 1586.47 453.765C1580.72 462.303 1574.24 470.337 1567.09 477.777C1560.83 484.723 1553.8 490.951 1546.12 496.342C1539.77 501.392 1532.95 505.827 1525.73 509.585C1500.17 523.519 1471.4 530.751 1442.18 530.585C1403.56 530.577 1366.12 517.462 1336.18 493.454C1326.43 485.488 1317.44 476.649 1309.34 467.05C1295.96 449.91 1285.9 430.5 1279.64 409.785H1198.69C1205.75 445.297 1220.61 478.865 1242.23 508.142C1249.46 517.562 1257.26 526.545 1265.59 535.041C1274.78 544.359 1284.77 552.876 1295.46 560.496C1305.14 567.752 1315.45 574.145 1326.29 579.598C1365.53 600.22 1409.69 610.099 1454.14 608.205C1498.59 606.311 1541.72 592.713 1579 568.83C1589.57 561.744 1599.71 554.057 1609.37 545.809C1617.04 539.169 1624.19 531.97 1630.76 524.273C1640.1 513.566 1648.52 502.112 1655.93 490.03C1671.03 465.266 1681.66 438.117 1687.35 409.785L1606.43 409.744ZM1677.99 0.188721H1627.28C1617.3 0.188721 1612.52 5.42833 1612.85 15.8663V119.008H1445.28C1384.92 118.537 1326.43 139.567 1280.61 178.211C1271.22 186.431 1262.4 195.266 1254.23 204.657C1245.88 214.248 1238.24 224.409 1231.37 235.063C1215.63 260.568 1204.62 288.618 1198.86 317.907H1279.77C1287.92 291.025 1302.54 266.471 1322.39 246.326C1338.51 230.174 1357.8 217.419 1379.1 208.837C1400.39 200.255 1423.24 196.025 1446.25 196.406H1613.06V317.907H1691.92V13.886C1692.25 4.76822 1687.64 0.188721 1677.99 0.188721Z')
          path(d='M2210.73 517.383L2177.43 484.13C2175.94 481.902 2173.95 480.038 2171.62 478.68C2169.28 477.322 2166.67 476.505 2163.96 476.291C2160.51 476.345 2157.19 477.553 2154.53 479.716C2150.33 483.841 2146.39 487.389 2141.94 490.979C2134.22 497.593 2125.9 503.49 2117.07 508.595C2084.11 527.451 2045.64 534.81 2007.9 529.478C1970.15 524.147 1935.34 506.438 1909.11 479.221C1903.11 472.874 1897.51 466.178 1892.33 459.17C1881.8 443.98 1873.72 427.28 1868.38 409.662H1787.64C1792.57 434.43 1801.21 458.343 1813.26 480.623C1820.47 493.372 1828.79 505.478 1838.14 516.805C1848.76 529.924 1860.77 541.9 1873.96 552.534C1882.35 559.052 1889.81 564.443 1896.36 568.706C1936.86 594.742 1984.25 608.513 2032.64 608.313C2069.6 608.224 2106.1 600.213 2139.59 584.838C2153.45 577.831 2166.75 569.819 2179.4 560.868C2188.28 554.705 2196.6 547.804 2204.27 540.239C2210.23 535.33 2213.25 530.626 2213.25 526.047V524.562C2213.2 521.969 2212.31 519.457 2210.73 517.383ZM2278.89 330.49C2274.68 301.732 2265.43 273.911 2251.54 248.265C2245.27 236.67 2238.12 225.554 2230.15 215.012C2224.84 208.494 2217.71 200.504 2208.76 191.042C2200.23 182.723 2191.09 175.029 2181.41 168.021C2172.1 161.172 2164.13 155.795 2157.5 151.89C2142.95 143.738 2127.63 137.008 2111.74 131.798C2087.39 123.757 2061.92 119.47 2036.24 119.091H2031.29C2004.57 119.178 1978.03 123.468 1952.69 131.798C1936.71 136.985 1921.3 143.715 1906.68 151.89C1898.44 156.87 1890.46 162.254 1882.77 168.021C1873.09 175.029 1863.95 182.723 1855.42 191.042C1846.48 200.49 1839.31 208.494 1834.03 215.012C1826.05 225.544 1818.89 236.661 1812.64 248.265C1800.82 270.138 1792.34 293.603 1787.47 317.907H1868.25C1870.22 311.211 1872.56 304.628 1875.26 298.186C1888.4 268.209 1910.11 242.632 1937.75 224.563C1965.39 206.494 1997.77 196.712 2030.96 196.406C2036.56 196.413 2042.17 196.743 2047.74 197.396C2064.44 199.122 2080.84 203.063 2096.47 209.113C2137.88 225.719 2170.95 257.729 2188.5 298.186C2192.13 306.936 2195.13 315.924 2197.48 325.085H2107.67V402.896H2267.06C2276.38 403.226 2281.03 398.66 2281.03 389.198V339.278C2281.12 336.214 2280.38 333.182 2278.89 330.49Z')
          path(d='M2824.09 114.676C2763.81 114.696 2705.51 135.854 2659.67 174.351C2613.83 212.848 2583.44 266.161 2573.97 324.714H2664.24C2673.92 286.326 2697.56 252.752 2730.68 230.325C2763.81 207.897 2804.13 198.166 2844.05 202.967C2883.96 207.768 2920.71 226.769 2947.36 256.386C2974.02 286.003 2988.73 324.19 2988.73 363.743C2988.73 403.297 2974.02 441.483 2947.36 471.1C2920.71 500.718 2883.96 519.719 2844.05 524.519C2804.13 529.32 2763.81 519.589 2730.68 497.162C2697.56 474.734 2673.92 441.16 2664.24 402.772H2573.97C2581.55 449.776 2602.67 493.66 2634.82 529.228C2666.96 564.796 2708.8 590.561 2755.37 603.471C2801.94 616.381 2851.3 615.897 2897.6 602.076C2943.9 588.254 2985.21 561.675 3016.63 525.483C3048.05 489.291 3068.27 445.002 3074.89 397.858C3081.52 350.715 3074.28 302.69 3054.02 259.47C3033.77 216.249 3001.34 179.642 2960.59 153.981C2919.84 128.321 2872.47 114.681 2824.09 114.676Z')
          path(d='M838.052 114.676C777.772 114.687 719.471 135.843 673.627 174.341C627.782 212.84 597.399 266.158 587.936 324.714H678.201C687.89 286.326 711.526 252.752 744.65 230.325C777.773 207.897 818.095 198.166 858.011 202.967C897.927 207.768 934.677 226.769 961.33 256.386C987.984 286.003 1002.7 324.19 1002.7 363.743C1002.7 403.297 987.984 441.483 961.33 471.1C934.677 500.718 897.927 519.719 858.011 524.519C818.095 529.32 777.773 519.589 744.65 497.162C711.526 474.734 687.89 441.16 678.201 402.772H587.936C595.518 449.776 616.633 493.66 648.781 529.228C680.93 564.796 722.765 590.561 769.337 603.471C815.908 616.381 865.265 615.897 911.565 602.076C957.866 588.254 999.171 561.675 1030.59 525.483C1062.01 489.291 1082.23 445.002 1088.86 397.858C1095.49 350.715 1088.24 302.69 1067.99 259.47C1047.73 216.249 1015.31 179.642 974.559 153.981C933.809 128.321 886.437 114.681 838.052 114.676Z')
      .header-buttons-wrapper
        .each-header-button#projects-header-button= __('PROJECTS')
        .each-header-button#calculator-header-button= __('CALCULATOR')
        .each-header-button#how-to-stake-header-button= __('INFO')
        .each-header-button#about-us-header-button= __('ABOUT US')
      if page_lang == 'tr'
        a.header-language-button(href='/?lang=en') EN
        .header-language-seperator
        a.header-language-button(href='/?lang=ru') RU
      else if page_lang == 'ru'
        a.header-language-button(href='/?lang=en') EN
        .header-language-seperator
        a.header-language-button(href='/?lang=tr') TR
      else
        a.header-language-button(href='/?lang=tr') TR
        .header-language-seperator
        a.header-language-button(href='/?lang=ru') RU
      .hamburger-menu-wrapper
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='var(--text-color)')
          path(d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z')
    .responsive-navigation-menu-wrapper#responsive-menu
      .responsive-menu-header
        if page_lang == 'tr'
          a.responsive-menu-language-button(href='/?lang=en') EN
          .responsive-menu-language-seperator
          a.responsive-menu-language-button(href='/?lang=ru') RU
        else if page_lang == 'ru'
          a.responsive-menu-language-button(href='/?lang=en') EN
          .responsive-menu-language-seperator
          a.responsive-menu-language-button(href='/?lang=tr') TR
        else
          a.responsive-menu-language-button(href='/?lang=tr') TR
          .responsive-menu-language-seperator
          a.responsive-menu-language-button(href='/?lang=ru') RU
        .responsive-navigation-menu-close-button
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='var(--text-color)')
            path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
      .each-responsive-navigation-menu-button#responsive-projects-header-button= __('PROJECTS')
      .each-responsive-navigation-menu-button#responsive-calculator-header-button= __('CALCULATOR')
      .each-responsive-navigation-menu-button#responsive-how-to-stake-header-button= __('INFO')
      .each-responsive-navigation-menu-button#responsive-about-us-header-button= __('ABOUT US')
      .responsive-menu-social-media-wrapper
        a.each-responsive-menu-social-media-icon(href='https://t.me/node101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
            path(d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
        a.each-responsive-menu-social-media-icon(href='https://twitter.com/node_101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='var(--text-color)')
            path(d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z')
        a.each-responsive-menu-social-media-icon(href='https://instagram.com/node_101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='var(--text-color)')
            path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
        a.each-responsive-menu-social-media-icon(href='https://medium.com/node101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='var(--text-color)')
            path(d='M2.37167 3.23917C2.39667 2.99333 2.3025 2.75083 2.11917 2.58583L0.2525 0.335833V0H6.05083L10.5325 9.82917L14.4725 0H20V0.335833L18.4033 1.86667C18.2658 1.97167 18.1975 2.14417 18.2258 2.315V13.5633C18.1975 13.7333 18.2658 13.9058 18.4033 14.0108L19.9625 15.5417V15.8775H12.1192V15.5417L13.735 13.9733C13.8933 13.815 13.8933 13.7683 13.8933 13.5258V4.43417L9.4025 15.8408H8.79583L3.56667 4.43417V12.0792C3.52333 12.4 3.63 12.7242 3.85583 12.9558L5.95667 15.5042V15.8408H0V15.5042L2.10083 12.9558C2.32583 12.7233 2.42583 12.3975 2.37167 12.0792V3.23917V3.23917Z')
        a.each-responsive-menu-social-media-icon(href='https://www.youtube.com/channel/UCEpdXdwnxNSrPwaufwPRXfA ' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='var(--text-color)')
            path(d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z')      
        a.each-responsive-menu-social-media-icon(href='https://github.com/node101-io' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
            path(d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z')
    .background-wrapper
      img.background-image(src='/res/images/background.gif')
    .content-wrapper
      .social-media-wrapper
        a.each-social-media-icon(href='https://t.me/node101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
            path(d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
        a.each-social-media-icon(href='https://twitter.com/node_101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='var(--text-color)')
            path(d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z')
        a.each-social-media-icon(href='https://instagram.com/node_101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='var(--text-color)')
            path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
        a.each-social-media-icon(href='https://medium.com/node101' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='var(--text-color)')
            path(d='M2.37167 3.23917C2.39667 2.99333 2.3025 2.75083 2.11917 2.58583L0.2525 0.335833V0H6.05083L10.5325 9.82917L14.4725 0H20V0.335833L18.4033 1.86667C18.2658 1.97167 18.1975 2.14417 18.2258 2.315V13.5633C18.1975 13.7333 18.2658 13.9058 18.4033 14.0108L19.9625 15.5417V15.8775H12.1192V15.5417L13.735 13.9733C13.8933 13.815 13.8933 13.7683 13.8933 13.5258V4.43417L9.4025 15.8408H8.79583L3.56667 4.43417V12.0792C3.52333 12.4 3.63 12.7242 3.85583 12.9558L5.95667 15.5042V15.8408H0V15.5042L2.10083 12.9558C2.32583 12.7233 2.42583 12.3975 2.37167 12.0792V3.23917V3.23917Z')
        a.each-social-media-icon(href='https://www.youtube.com/channel/UCEpdXdwnxNSrPwaufwPRXfA ' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='var(--text-color)')
            path(d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z')      
        a.each-social-media-icon(href='https://github.com/node101-io' target='_blank') 
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
            path(d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z')
      .start-page-wrapper
        .start-page-title
          .start-page-title-text= __('STAKE YOUR ASSETS')
        .start-page-text= __('Stake your assets with the industry\'s most user-friendly organization! node101 accompanies you on your staking journey from start to finish and offers a privileged service where you can safely stake your assets and get support from experts whenever you want.')
        .start-page-learn-more-button= __('Learn More')
      .start-page-transparent-cover
      .projects-wrapper
        .projects-title= __('OUR PROJECTS')
        .projects-subtitle= __('You may stake on us on the following projects. We will be holding validators for you in other networks in the near future.')
        .projects-text= __('Please feel free to reach us in our social media accounts if you have any questions.')
        .projects-inner-wrapper
          each project in projects
            .each-project-wrapper
              .each-project-image(style='background-image: url(' + project.image + ')' )
              .each-project-name= project.name.toUpperCase()
              .each-project-apr APR ~#{parseInt(project.apr * 10000) / 100}%
              a.each-project-stake-button(href=project.stake_url target='_blank')
                svg.each-project-stake-button-icon(viewBox='0 0 31 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M14.2525 7.33968C13.9624 7.33968 13.6842 7.4549 13.4791 7.66C13.274 7.8651 13.1588 8.14327 13.1588 8.43333C13.1588 8.72338 13.274 9.00156 13.4791 9.20665C13.6842 9.41175 13.9624 9.52698 14.2525 9.52698H20.3266L11.2559 18.5955C11.1542 18.6972 11.0735 18.8179 11.0185 18.9508C10.9635 19.0836 10.9351 19.226 10.9351 19.3698C10.9351 19.5136 10.9635 19.656 11.0185 19.7889C11.0735 19.9217 11.1542 20.0425 11.2559 20.1441C11.3575 20.2458 11.4783 20.3265 11.6111 20.3815C11.744 20.4365 11.8864 20.4649 12.0302 20.4649C12.174 20.4649 12.3164 20.4365 12.4492 20.3815C12.5821 20.3265 12.7028 20.2458 12.8045 20.1441L21.873 11.0734V17.1475C21.873 17.4376 21.9882 17.7158 22.1933 17.9209C22.3984 18.126 22.6766 18.2412 22.9667 18.2412C23.2567 18.2412 23.5349 18.126 23.74 17.9209C23.9451 17.7158 24.0603 17.4376 24.0603 17.1475V8.43333C24.0603 8.14327 23.9451 7.8651 23.74 7.66C23.5349 7.4549 23.2567 7.33968 22.9667 7.33968H14.2525ZM21.3612 31.4C22.6638 31.4003 23.9238 30.9356 24.9143 30.0895C25.9047 29.2434 26.5606 28.0715 26.7638 26.7848C27.8812 26.4402 28.8588 25.7467 29.5532 24.8058C30.2476 23.865 30.6222 22.7265 30.6222 21.5571V6.24603C30.6222 4.79575 30.0461 3.40488 29.0206 2.37939C27.9951 1.35389 26.6042 0.777771 25.154 0.777771H9.84286C8.66062 0.77771 7.51018 1.16065 6.56382 1.86923C5.61746 2.57782 4.92612 3.57392 4.59333 4.70835C3.311 4.9162 2.14455 5.57379 1.3029 6.56333C0.461247 7.55287 -0.000626768 8.80973 6.38356e-07 10.1088V23.7444C6.38356e-07 25.7748 0.806566 27.722 2.24226 29.1577C3.67796 30.5934 5.62518 31.4 7.65556 31.4H21.3612ZM2.1873 10.1088C2.18649 9.42965 2.39646 8.76698 2.78824 8.21223C3.18002 7.65747 3.73429 7.23796 4.3746 7.01158V21.5571C4.3746 23.0074 4.95072 24.3983 5.97622 25.4238C7.00171 26.4493 8.39259 27.0254 9.84286 27.0254H24.454C24.2279 27.665 23.8091 28.2188 23.2552 28.6105C22.7013 29.0022 22.0396 29.2126 21.3612 29.2127H7.65556C6.20529 29.2127 4.81441 28.6366 3.78892 27.6111C2.76342 26.5856 2.1873 25.1947 2.1873 23.7444V10.1088ZM9.84286 2.96507H25.154C26.0241 2.96507 26.8587 3.31074 27.474 3.92604C28.0893 4.54134 28.4349 5.37586 28.4349 6.24603V21.5571C28.4349 22.4273 28.0893 23.2618 27.474 23.8771C26.8587 24.4924 26.0241 24.8381 25.154 24.8381H9.84286C8.9727 24.8381 8.13817 24.4924 7.52287 23.8771C6.90758 23.2618 6.56191 22.4273 6.56191 21.5571V6.24603C6.56191 5.37586 6.90758 4.54134 7.52287 3.92604C8.13817 3.31074 8.9727 2.96507 9.84286 2.96507Z' fill='white')
                .each-project-stake-button-text Stake Now
              a.each-project-how-to-stake-button(href=project.how_to_stake_url target='_blank')= __('How to Stake?')
              //- .each-project-will-be-stakable-button= __('Coming Soon')
      .calculator-wrapper
        .calculator-title= __('CALCULATOR')
        .calculator-subtitle= __('Calculate how much you will gain with node101.')
        .calculator-projects-wrapper
          each project, i in projects
            .calculator-each-project-title(id='calculator-' + project._id class=(i == 0 ? 'calculator-each-project-title-selected' : ''))= project.name.toUpperCase()
        .calculator-each-line-wrapper#token-calculator-line
          .calculator-each-line-name= projects[0].name.toUpperCase()
          .calculator-each-line
            .calculator-each-line-button(style='margin-left: 10%')
              input.calculator-each-line-button-text#token-calculator-info-text(style='display: none;' type='number' value='10000')
          .calculator-each-line-ammount 10.000
        .calculator-each-line-wrapper#time-calculator-line
          .calculator-each-line-name= __('TIME')
          .calculator-each-line
            .calculator-each-line-button(style='margin-left: 33.33%')
              input.calculator-each-line-button-text#time-calculator-info-text(style='display: none;' type='number' value='30')
          .calculator-each-line-ammount 30 #{__('DAY')}
        .calculator-earn-title= __('YOUR GAIN')
        .calculator-earn-wrapper
          .calculator-each-earn-item
            img.calculator-each-earn-item-icon#calculator-earn-token-icon(src=projects[0].image alt=(projects[0].name + __(' stake')))
            .calculator-each-earn-item-text#calculator-earn-token-text= Math.round((50000 * 27 / 365 * parseFloat(projects[0].apr)))
          .calculator-each-earn-item
            .calculator-each-earn-item-icon $
            .calculator-each-earn-item-text#calculator-earn-dollars-text= Math.round((50000 * 27 / 365 * parseFloat(projects[0].apr)) * projects[0].market_price)
        .calculator-text= __('The amount you will be awarded is calculated using daily interest. Your actual gain may vary slightly from the numbers shown here. Please feel free to contact our team to learn more.')
      .how-to-stake-wrapper
        .how-to-stake-subtitle= __('HOW CAN YOU')
        .how-to-stake-title= __('STAKE A PROJECT?')
        .how-to-stake-text= __('It is quite easy and very profitable with node101 to stake on projects you choose and have a passive-income. Just follow the three simple steps below!')
        .how-to-stake-steps-wrapper
          .each-how-to-stake-step
            .each-how-to-stake-icon-wrapper
              img.each-how-to-stake-icon(src='/res/images/step_icons/search_and_decide.png' alt=__('How to stake with node101? Search and Decide icon.'))
            .each-how-to-stake-title.color-one= __('SEARCH & DECIDE')
            .each-how-to-stake-text= __('See the projects in which we have a validator and choose which projects you want to start with.')
          .each-how-to-stake-step
            .each-how-to-stake-icon-wrapper
              img.each-how-to-stake-icon(src='/res/images/step_icons/stake_your_coin.png' alt=__('How to stake with node101? Stake your Coin icon.'))
            .each-how-to-stake-title.color-two= __('STAKE YOUR COIN')
            .each-how-to-stake-text= __('Click \'How to Stake?\' link below the project you choose to learn how you should stake.')
          .each-how-to-stake-step
            .each-how-to-stake-icon-wrapper
              img.each-how-to-stake-icon(src='/res/images/step_icons/earn_regularly.png' alt=__('How to stake with node101? Earn regularly icon.'))
            .each-how-to-stake-title.color-three= __('EARN REGULARY')
            .each-how-to-stake-text= __('Now all you have to do is to wait and see how your capital grows day by day. It is a true passive income!')
        .how-to-stake-time-text= __('The best options in some projects may require you to lock your coins for a minimum time period. Please feel free to contact our team to learn more.')
      .about-us-wrapper
        .about-us-title= __('ABOUT US')
        .about-us-subtitle= __('node101 describes promising projects in the blockchain ecosystem in a pure language. In addition, it offers a service to users with products that provide financial returns such as node, testnet, staking, and validation.')
        .about-us-text= __('The node101 team, consisting of a group of young software developers and content producers graduated from the world\'s leading schools such as the University of Michigan, Ludwig-Maximillian, University of Sorbonne, and Bogazici University, provides solutions to the accessibility and scalability problems in the industry.')
        .about-us-social-media-wrapper
          a.about-us-each-social-media-icon(href='https://t.me/node101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
              path(d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
          a.about-us-each-social-media-icon(href='https://twitter.com/node_101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='var(--text-color)')
              path(d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z')
          a.about-us-each-social-media-icon(href='https://instagram.com/node_101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='var(--text-color)')
              path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
          a.about-us-each-social-media-icon(href='https://medium.com/node101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='var(--text-color)')
              path(d='M2.37167 3.23917C2.39667 2.99333 2.3025 2.75083 2.11917 2.58583L0.2525 0.335833V0H6.05083L10.5325 9.82917L14.4725 0H20V0.335833L18.4033 1.86667C18.2658 1.97167 18.1975 2.14417 18.2258 2.315V13.5633C18.1975 13.7333 18.2658 13.9058 18.4033 14.0108L19.9625 15.5417V15.8775H12.1192V15.5417L13.735 13.9733C13.8933 13.815 13.8933 13.7683 13.8933 13.5258V4.43417L9.4025 15.8408H8.79583L3.56667 4.43417V12.0792C3.52333 12.4 3.63 12.7242 3.85583 12.9558L5.95667 15.5042V15.8408H0V15.5042L2.10083 12.9558C2.32583 12.7233 2.42583 12.3975 2.37167 12.0792V3.23917V3.23917Z')
          a.about-us-each-social-media-icon(href='https://www.youtube.com/channel/UCEpdXdwnxNSrPwaufwPRXfA ' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='var(--text-color)')
              path(d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z')      
          a.about-us-each-social-media-icon(href='https://github.com/node101-io' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
              path(d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z')
        a.about-us-join-button(href='https://docs.google.com/forms/d/e/1FAIpQLSe2utEhUyVdCcDrRGdiExY4mtz820IHI3MJHiQleOMebQ3OKA/viewform' target='_blank')= __('JOIN US')
        .team-wrapper
          - for (let i = 0; i < team.length; i += 3)
            .each-team-line
              - for (let j = i; j < Math.min(i + 3, team.length); j++)
                .each-team-member-wrapper
                  img.each-team-member-background(src=team[j].image loading='lazy' alt='node101' + team[j].name)
                  .each-team-member-info
                    .each-team-member-name= team[j].name
                    .each-team-member-position= __(team[j].position)
                  .each-team-member-details(style='display: none')
                    .each-team-member-name= team[j].name
                    .each-team-member-position= __(team[j].position)
                    each info in team[j].information
                      .each-team-member-information= __(info)
                    .each-team-member-links-wrapper
                      each link in Object.keys(team[j].links)
                        a.each-team-member-link(href=team[j].links[link] target='_blank')
                          svg(fill='var(--text-color)' xmlns='http://www.w3.org/2000/svg' viewBox=getSocialMediaIconPathAndViewBox(link).viewBox)
                            path(d=getSocialMediaIconPathAndViewBox(link).path)
        .responsive-team-wrapper
          - for (let j = 0; j < team.length; j += 1)
            .each-team-member-wrapper
              img.each-team-member-background(src=team[j].image loading='lazy' alt='node101' + team[j].name)
              .each-team-member-info
                .each-team-member-name= team[j].name
                .each-team-member-position= __(team[j].position)
              .each-team-member-details(style='display: none')
                .each-team-member-name= team[j].name
                .each-team-member-position= __(team[j].position)
                each info in team[j].information
                  .each-team-member-information= __(info)
                .each-team-member-links-wrapper
                  each link in Object.keys(team[j].links)
                    a.each-team-member-link(href=team[j].links[link])
                      svg(fill='var(--text-color)' xmlns='http://www.w3.org/2000/svg' viewBox=getSocialMediaIconPathAndViewBox(link).viewBox)
                        path(d=getSocialMediaIconPathAndViewBox(link).path)
      .footer-outer-wrapper
        .footer-wrapper
          .footer-logo-wrapper
            svg.footer-logo-icon(viewBox='0 0 3263 617' fill='#7D80DA' xmlns='http://www.w3.org/2000/svg')
              path(d='M2457.32 118.678H2400.36C2392.14 118.678 2385.47 125.235 2385.47 133.324V602.166C2385.47 610.254 2392.14 616.812 2400.36 616.812H2457.32C2465.55 616.812 2472.22 610.254 2472.22 602.166V133.324C2472.22 125.235 2465.55 118.678 2457.32 118.678Z')
              path(d='M3247.81 118.678H3190.85C3182.63 118.678 3175.96 125.235 3175.96 133.324V602.166C3175.96 610.254 3182.63 616.812 3190.85 616.812H3247.81C3256.03 616.812 3262.7 610.254 3262.7 602.166V133.324C3262.7 125.235 3256.03 118.678 3247.81 118.678Z')
              path(d='M419.151 409.744V596.348C419.151 604.599 423.807 608.725 433.077 608.725H483.41C493.351 608.725 498.175 604.187 497.839 595.028V409.744H419.151ZM467.975 246.326C460.769 233.564 452.447 221.443 443.102 210.103C432.469 197.003 420.478 185.029 407.323 174.374C398.934 167.856 391.468 162.479 384.924 158.243C344.51 132.371 297.328 118.599 249.108 118.599C200.888 118.599 153.705 132.371 113.291 158.243C106.664 162.506 99.1976 167.883 90.8926 174.374C77.7246 185.029 65.7197 197.003 55.0719 210.103C45.7406 221.454 37.4189 233.573 30.1988 246.326C17.9087 268.747 9.18103 292.887 4.31893 317.906H85.2301C90.4384 300.064 98.54 283.165 109.222 267.862C114.402 260.841 120.005 254.132 126 247.77C132.76 240.842 140.083 234.468 147.895 228.709C177.246 207.713 212.606 196.403 248.898 196.403C285.19 196.403 320.55 207.713 349.901 228.709C357.706 234.46 365.016 240.835 371.754 247.77C377.759 254.123 383.362 260.833 388.532 267.862C399.214 283.165 407.316 300.064 412.524 317.906H493.309C488.577 292.928 480.036 268.795 467.975 246.326ZM0.292249 409.744V594.203C-0.0433079 603.362 4.78032 607.9 14.7212 607.9H65.0547C74.3245 607.9 78.9803 603.774 78.9803 595.523V409.744H0.292249Z')
              path(d='M1606.43 409.744C1601.8 425.226 1595.08 440.03 1586.47 453.765C1580.72 462.303 1574.24 470.337 1567.09 477.777C1560.83 484.723 1553.8 490.951 1546.12 496.342C1539.77 501.392 1532.95 505.827 1525.73 509.585C1500.17 523.519 1471.4 530.751 1442.18 530.585C1403.56 530.577 1366.12 517.462 1336.18 493.454C1326.43 485.488 1317.44 476.649 1309.34 467.05C1295.96 449.91 1285.9 430.5 1279.64 409.785H1198.69C1205.75 445.297 1220.61 478.865 1242.23 508.142C1249.46 517.562 1257.26 526.545 1265.59 535.041C1274.78 544.359 1284.77 552.876 1295.46 560.496C1305.14 567.752 1315.45 574.145 1326.29 579.598C1365.53 600.22 1409.69 610.099 1454.14 608.205C1498.59 606.311 1541.72 592.713 1579 568.83C1589.57 561.744 1599.71 554.057 1609.37 545.809C1617.04 539.169 1624.19 531.97 1630.76 524.273C1640.1 513.566 1648.52 502.112 1655.93 490.03C1671.03 465.266 1681.66 438.117 1687.35 409.785L1606.43 409.744ZM1677.99 0.188721H1627.28C1617.3 0.188721 1612.52 5.42833 1612.85 15.8663V119.008H1445.28C1384.92 118.537 1326.43 139.567 1280.61 178.211C1271.22 186.431 1262.4 195.266 1254.23 204.657C1245.88 214.248 1238.24 224.409 1231.37 235.063C1215.63 260.568 1204.62 288.618 1198.86 317.907H1279.77C1287.92 291.025 1302.54 266.471 1322.39 246.326C1338.51 230.174 1357.8 217.419 1379.1 208.837C1400.39 200.255 1423.24 196.025 1446.25 196.406H1613.06V317.907H1691.92V13.886C1692.25 4.76822 1687.64 0.188721 1677.99 0.188721Z')
              path(d='M2210.73 517.383L2177.43 484.13C2175.94 481.902 2173.95 480.038 2171.62 478.68C2169.28 477.322 2166.67 476.505 2163.96 476.291C2160.51 476.345 2157.19 477.553 2154.53 479.716C2150.33 483.841 2146.39 487.389 2141.94 490.979C2134.22 497.593 2125.9 503.49 2117.07 508.595C2084.11 527.451 2045.64 534.81 2007.9 529.478C1970.15 524.147 1935.34 506.438 1909.11 479.221C1903.11 472.874 1897.51 466.178 1892.33 459.17C1881.8 443.98 1873.72 427.28 1868.38 409.662H1787.64C1792.57 434.43 1801.21 458.343 1813.26 480.623C1820.47 493.372 1828.79 505.478 1838.14 516.805C1848.76 529.924 1860.77 541.9 1873.96 552.534C1882.35 559.052 1889.81 564.443 1896.36 568.706C1936.86 594.742 1984.25 608.513 2032.64 608.313C2069.6 608.224 2106.1 600.213 2139.59 584.838C2153.45 577.831 2166.75 569.819 2179.4 560.868C2188.28 554.705 2196.6 547.804 2204.27 540.239C2210.23 535.33 2213.25 530.626 2213.25 526.047V524.562C2213.2 521.969 2212.31 519.457 2210.73 517.383ZM2278.89 330.49C2274.68 301.732 2265.43 273.911 2251.54 248.265C2245.27 236.67 2238.12 225.554 2230.15 215.012C2224.84 208.494 2217.71 200.504 2208.76 191.042C2200.23 182.723 2191.09 175.029 2181.41 168.021C2172.1 161.172 2164.13 155.795 2157.5 151.89C2142.95 143.738 2127.63 137.008 2111.74 131.798C2087.39 123.757 2061.92 119.47 2036.24 119.091H2031.29C2004.57 119.178 1978.03 123.468 1952.69 131.798C1936.71 136.985 1921.3 143.715 1906.68 151.89C1898.44 156.87 1890.46 162.254 1882.77 168.021C1873.09 175.029 1863.95 182.723 1855.42 191.042C1846.48 200.49 1839.31 208.494 1834.03 215.012C1826.05 225.544 1818.89 236.661 1812.64 248.265C1800.82 270.138 1792.34 293.603 1787.47 317.907H1868.25C1870.22 311.211 1872.56 304.628 1875.26 298.186C1888.4 268.209 1910.11 242.632 1937.75 224.563C1965.39 206.494 1997.77 196.712 2030.96 196.406C2036.56 196.413 2042.17 196.743 2047.74 197.396C2064.44 199.122 2080.84 203.063 2096.47 209.113C2137.88 225.719 2170.95 257.729 2188.5 298.186C2192.13 306.936 2195.13 315.924 2197.48 325.085H2107.67V402.896H2267.06C2276.38 403.226 2281.03 398.66 2281.03 389.198V339.278C2281.12 336.214 2280.38 333.182 2278.89 330.49Z')
              path(d='M2824.09 114.676C2763.81 114.696 2705.51 135.854 2659.67 174.351C2613.83 212.848 2583.44 266.161 2573.97 324.714H2664.24C2673.92 286.326 2697.56 252.752 2730.68 230.325C2763.81 207.897 2804.13 198.166 2844.05 202.967C2883.96 207.768 2920.71 226.769 2947.36 256.386C2974.02 286.003 2988.73 324.19 2988.73 363.743C2988.73 403.297 2974.02 441.483 2947.36 471.1C2920.71 500.718 2883.96 519.719 2844.05 524.519C2804.13 529.32 2763.81 519.589 2730.68 497.162C2697.56 474.734 2673.92 441.16 2664.24 402.772H2573.97C2581.55 449.776 2602.67 493.66 2634.82 529.228C2666.96 564.796 2708.8 590.561 2755.37 603.471C2801.94 616.381 2851.3 615.897 2897.6 602.076C2943.9 588.254 2985.21 561.675 3016.63 525.483C3048.05 489.291 3068.27 445.002 3074.89 397.858C3081.52 350.715 3074.28 302.69 3054.02 259.47C3033.77 216.249 3001.34 179.642 2960.59 153.981C2919.84 128.321 2872.47 114.681 2824.09 114.676Z')
              path(d='M838.052 114.676C777.772 114.687 719.471 135.843 673.627 174.341C627.782 212.84 597.399 266.158 587.936 324.714H678.201C687.89 286.326 711.526 252.752 744.65 230.325C777.773 207.897 818.095 198.166 858.011 202.967C897.927 207.768 934.677 226.769 961.33 256.386C987.984 286.003 1002.7 324.19 1002.7 363.743C1002.7 403.297 987.984 441.483 961.33 471.1C934.677 500.718 897.927 519.719 858.011 524.519C818.095 529.32 777.773 519.589 744.65 497.162C711.526 474.734 687.89 441.16 678.201 402.772H587.936C595.518 449.776 616.633 493.66 648.781 529.228C680.93 564.796 722.765 590.561 769.337 603.471C815.908 616.381 865.265 615.897 911.565 602.076C957.866 588.254 999.171 561.675 1030.59 525.483C1062.01 489.291 1082.23 445.002 1088.86 397.858C1095.49 350.715 1088.24 302.69 1067.99 259.47C1047.73 216.249 1015.31 179.642 974.559 153.981C933.809 128.321 886.437 114.681 838.052 114.676Z')
            .footer-subtitle-wrapper NOT AN ORDINARY VALIDATOR
            .footer-text-wrapper node101 is a validator that describes promising projects and web3 terms in the blockchain ecosystem in a pure language. 
            .footer-social-media-wrapper
          .footer-category-wrapper 
            .each-footer-category-wrapper
              .each-footer-category-title NODE101
              .each-responsive-footer-category-title NODE101
              .each-footer-category-link Who are we?
              .each-footer-category-link Our services
              .each-footer-category-link Contact Us
              .each-footer-category-link Privacy Policy
            .each-footer-category-wrapper
              .each-footer-category-title LIBRARY.NODE101
              .each-responsive-footer-category-title LIBRARY
              .each-footer-category-link Projects 101
              .each-footer-category-link WEB3 Terms 101
            .each-footer-category-wrapper
              .each-footer-category-title TESTNET.NODE101
              .each-responsive-footer-category-title TESTNET
              .each-footer-category-link Active Testnets
              .each-footer-category-link Archive
            .each-footer-category-wrapper
              .each-footer-category-title STAKE.NODE101
              .each-responsive-footer-category-title STAKE
              .each-footer-category-link Projects
              .each-footer-category-link Calculator
              .each-footer-category-link How can you stake?
        .footer-responsive-social-media-wrapper
          a.each-responsive-menu-social-media-icon(href='https://t.me/node101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
              path(d='M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z')
          a.each-responsive-menu-social-media-icon(href='https://twitter.com/node_101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='var(--text-color)')
              path(d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z')
          a.each-responsive-menu-social-media-icon(href='https://instagram.com/node_101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='var(--text-color)')
              path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
          a.each-responsive-menu-social-media-icon(href='https://medium.com/node101' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='var(--text-color)')               
              path(d='M2.37167 3.23917C2.39667 2.99333 2.3025 2.75083 2.11917 2.58583L0.2525 0.335833V0H6.05083L10.5325 9.82917L14.4725 0H20V0.335833L18.4033 1.86667C18.2658 1.97167 18.1975 2.14417 18.2258 2.315V13.5633C18.1975 13.7333 18.2658 13.9058 18.4033 14.0108L19.9625 15.5417V15.8775H12.1192V15.5417L13.735 13.9733C13.8933 13.815 13.8933 13.7683 13.8933 13.5258V4.43417L9.4025 15.8408H8.79583L3.56667 4.43417V12.0792C3.52333 12.4 3.63 12.7242 3.85583 12.9558L5.95667 15.5042V15.8408H0V15.5042L2.10083 12.9558C2.32583 12.7233 2.42583 12.3975 2.37167 12.0792V3.23917V3.23917Z')
          a.each-responsive-menu-social-media-icon(href='https://www.youtube.com/channel/UCEpdXdwnxNSrPwaufwPRXfA ' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='var(--text-color)')
              path(d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z')      
          a.each-responsive-menu-social-media-icon(href='https://github.com/node101-io' target='_blank') 
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512' fill='var(--text-color)')
              path(d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z')
        .footer-bottom-wrapper
          .each-footer-category-link @ 2022 node101, Inc. All rights reserved.
